# ------------------------------------------------------------ #
#                  Home-assistant location                     #
# ------------------------------------------------------------ #
home_name:
home_latitude:
home_longitude:
home_timezone:

# ------------------------------------------------------------ #
#                        Work Calendar                         #
# ------------------------------------------------------------ #
work_calendar_url:
work_calendar_user:
work_calendar_password:

work_calendar_mapping_0:
work_calendar_mapping_0_alt:
work_calendar_mapping_0_ui

# ------------------------------------------------------------ #
#                        Private Calendar                      #
# ------------------------------------------------------------ #
private_calendar_url:
private_calendar_user:
private_calendar_password:

private_calendar_mapping_0:
private_calendar_mapping_0_ui:
private_calendar_mapping_1:
private_calendar_mapping_1_ui:
private_calendar_mapping_2:
private_calendar_mapping_2_ui:

# ------------------------------------------------------------ #
#                        Linode                                #
# ------------------------------------------------------------ #
linode_access_token:
linode_server_0:
linode_server_1:
linode_server_2:

# ------------------------------------------------------------ #
#                        DD-WRT                                #
# ------------------------------------------------------------ #
DD_WRT_IP:
DD_WRT_USER:
DD_WRT_PASSWORD: