
# ------------------------------------------------------------ #
#                  Home-assistant location
# ------------------------------------------------------------ #
latitude_home:
longitude_home:

# ------------------------------------------------------------ #
#                        Work Email
# ------------------------------------------------------------ #
work_calendar_url:
work_calendar_user:
work_calendar_password:

work_calendar_mapping_0:
work_calendar_mapping_0_alt:

# ------------------------------------------------------------ #
#                        Private Email
# ------------------------------------------------------------ #
private_calendar_url:
private_calendar_user:
private_calendar_password:

private_calendar_mapping_0:
private_calendar_mapping_1:
private_calendar_mapping_2:
